<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
      @Styles.Render("~/css/site")
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
  </head>
    <body>
        <div style="height:10px;background-color:rgb(35, 95, 167);margin-top:0px !important;margin-left:0px!important;width:100%"></div>
    <div class="container">

<div class="masthead">
        <h3 class="muted"><a href="/"><img src="/content/images/logo.png" alt="Send a real letter to congress" id="logo" /></a></h3>
        <div class="navbar" style="margin-bottom:0px">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#">Hot Issues</a></li>
                  <li><a href="#">How this works</a></li>
                  @if (!User.Identity.IsAuthenticated && ViewBag.AuthenticatedUser!=null) {
                      <li><a href="/Authentication/Login">Login</a></li>
                  }
                  else {
                      <li><a>Welcome @ViewBag.AuthenticatedUser.FirstName @ViewBag.AuthenticatedUser.LastName</a></li>
                      <li><a href="/Authentication/Logout"><i class="icon-signout"></i> Logout</a></li>
                  }
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>
        <div class="content">
            @RenderBody()
        </div>
        <hr>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div>
      
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        @Scripts.Render("~/js/site")
        @RenderSection("scripts", false)
  </body>
</html>