<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
	<head>
		<title>Campaign HTML Template</title>
		<meta name="Keywords" content=" " />
		<meta name="Description" content=" " />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- CSS -->
		<link rel="stylesheet" href="/content/css/style.css" type="text/css" media="screen" />

		<!-- The next line calls the font for the headings. Use it like this: "style-fontname.css". Options are bitter, droidsans, droidserif, franchise, museo, nevis, or rokkitt */ -->
		<link rel="stylesheet" type="text/css" href="/content/fonts/style-nevis.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="/content/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
		
		<!-- The Favicon -->
	    <link rel="shortcut icon" href="/images/favicon.png" />
	</head>

 <body class="content_left bg_linen body_boxed scheme_blue ">
		<div id="main_wrap">
			<div class="wrapper" id="header">
				<div id="pre_header"></div>
				<div class="container">
					<div id="logo_wrap">
						<div id="the_logo">
							<a href="#" title="Campaign" class="left the_logo">
								<img src="/images/campaignlogo.png" alt="Campaign" id="logo" />
							</a>
						</div>
			
						<div class="clear"></div>
					</div>
					<div id="clear"></div>
				</div>
				
                @Html.Partial("_TopNav")
			</div>
			 @RenderBody()

		</div><!-- end div#main_wrap, begins in header.html -->
		@Html.Partial("_Footer")
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     @RenderSection("Scripts",false)
     <script type="text/javascript">
         $(function () {
             @RenderSection("AdHocScripts", false)
         });
     </script>
     @Html.PageScripts();

 </body>
</html>
