<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Write a REAL letter to congress without needing paper or a stamp!</title>
    <meta name="description" content="We help you write thought out and informed letters to congress (your Senators and Representative) and then actually PRINT and MAIL the letter on your behalf. No need to track down envelopes, stamps, your congress persons address, etc. We want to make it easy to be involved. ">
    <meta name="author" content="Three Wise Taco Guys">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <!-- Library CSS -->
    <link rel="stylesheet" href="/theme/css/bootstrap.css">
    <link rel="stylesheet" href="/theme/css/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/theme/css/animations.css" media="screen">
    <link rel="stylesheet" href="/theme/css/superfish.css" media="screen">   
    <link rel="stylesheet" href="/theme/css/revolution-slider/css/settings.css" media="screen">
    <link rel="stylesheet" href="/theme/css/prettyPhoto.css" media="screen">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/theme/css/style.css">
    <!-- Skin -->
    <link rel="stylesheet" href="/theme/css/colors/green.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/theme/css/theme-responsive.css">
    <!-- Favicons -->

    <link rel="shortcut icon" href="img/ico/favicon.ico">
    <link rel="apple-touch-icon" href="img/ico/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/ico/apple-touch-icon-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/ico/apple-touch-icon-144.png">
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/theme/js/respond.min.js"></script>
    <![endif]-->
    <!--[if IE]>
    <link rel="stylesheet" href="/theme/css/ie.css">
    <![endif]-->


    @RenderSection("head", false)
    @RenderSection("PreScripts", false)

</head>
<body class="boxed home">
    <div class="wrap">
        @Html.Partial("_Header")


        <!-- Content Start -->
        <div id="main">
            @RenderBody()
        </div>
        <!-- Content End -->
        @Html.Partial("_Footer")
        <!-- Scroll To Top -->
        <a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
    </div>

    <script src="/Theme/js/jquery.min.js"></script>
    <script src="/Theme/js/bootstrap.js"></script>
    <script src="/Theme/js/jquery.parallax.js"></script>
    <script src="/Theme/js/modernizr-2.6.2.min.js"></script>
    <script src="/Theme/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/Theme/js/jquery.nivo.slider.pack.js"></script>
    <script src="/Theme/js/jquery.prettyPhoto.js"></script>
    <script src="/Theme/js/superfish.js"></script>
    <script src="/Theme/js/tweetMachine.js"></script>
    <script src="/Theme/js/tytabs.js"></script>
    <script src="/Theme/js/jquery.gmap.min.js"></script>
    <script src="/Theme/js/jquery.sticky.js"></script>
    <script src="/Theme/js/imagesloaded.pkgd.min.js"></script>
    <script src="/Theme/js/waypoints.min.js"></script>
    <script src="/Theme/js/custom.js"></script>
    @RenderSection("Scripts", false)
    <script type="text/javascript">
                $(function () {
                    @RenderSection("AdHocScripts", false)
                });
    </script>

    @Html.Partial("_Analytics")
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js"></script>
    @Scripts.Render("~/js/site")
    @Scripts.Render("~/js/plugins")
    
    @if (!User.Identity.IsAuthenticated) { Html.RenderPartial("_LoginModal"); }

    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.3/example1/colorbox.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.3/jquery.colorbox-min.js"></script>

    @Html.PageScripts()

</body>
</html>
