<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@(!string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title : "Write A REAL Letter To Congress Without Needing Paper or A Stamp!")</title>
    <meta name="description" content="@(!string.IsNullOrEmpty(ViewBag.MetaDescription) ?  ViewBag.MetaDescription : "We help you write thought out and informed letters to congress (your Senators and Representative) and then actually PRINT and MAIL the letter on your behalf. No need to track down evelopes, stamps, your congress persons address, etc. We want to make it easy to be involved.")" />
    <meta name="author" content="Shakr Labs">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css">
    <!-- Library CSS -->

    @Styles.Render("~/css/site")

    @Styles.Render("~/css/theme")
    
    <link rel="stylesheet" href="/Theme/css/bootstrap.css">

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet" />
    <!--[if lt IE 7]>
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->


     @*Favicons 
    <link rel="shortcut icon" href="/Theme/img/ico/favicon.ico">
    <link rel="apple-touch-icon" href="/Theme/img/ico/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Theme/img/ico/apple-touch-icon-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Theme/img/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Theme/img/ico/apple-touch-icon-144.png">*@


    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="/Theme/js/respond.min.js"></script>
      <![endif]-->
    <!--[if IE]>
      <link rel="stylesheet" href="/Theme/css/ie.css">
      <![endif]-->
    @RenderSection("head", false)
</head>

<body class="boxed home">
    <div class="wrap">
        @Html.Partial("_Header")
        <!-- Content Start -->
        <div id="main">
            @RenderBody()
        </div>
        <!-- Content End -->
        @Html.Partial("_Footer")
        <!-- Scroll To Top -->
        <a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/Theme/js/bootstrap.js"></script>
    <script src="/Theme/js/jquery.parallax.js"></script>
    <script src="/Theme/js/modernizr-2.6.2.min.js"></script>
    <script src="/Theme/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/Theme/js/jquery.nivo.slider.pack.js"></script>
    <script src="/Theme/js/jquery.prettyPhoto.js"></script>
    <script src="/Theme/js/superfish.js"></script>
    <script src="/Theme/js/tweetMachine.js"></script>
    <script src="/Theme/js/tytabs.js"></script>
    <script src="/Theme/js/jquery.gmap.min.js"></script>
    <script src="/Theme/js/circularnav.js"></script>
    <script src="/Theme/js/jquery.sticky.js"></script>
    <script src="/Theme/js/jflickrfeed.js"></script>
    <script src="/Theme/js/imagesloaded.pkgd.min.js"></script>
    <script src="/Theme/js/waypoints.min.js"></script>
    <script src="/Theme/js/custom.js"></script>
    @RenderSection("Scripts", false)
    <script type="text/javascript">
        $(function () {
            @RenderSection("AdHocScripts", false)
        });
    </script>

    @Html.Partial("_Analytics")
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.1/knockout-min.js"></script>
    @Scripts.Render("~/js/site")
    @Scripts.Render("~/js/plugins")


    @RenderSection("scripts", false)
    @if (!User.Identity.IsAuthenticated) { Html.RenderPartial("_LoginModal"); }

    @Html.PageScripts()

</body>
</html>

