@model WriteCongress.Core.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}
<div class="container-fluid">
    <div class="row-fluid">
        <h3>My Account</h3>
        <div class="tabbable">
            <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">History</a></li>
                <li><a href="#tab2" data-toggle="tab">Account Info</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Count</th>
                                <th>Status</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        @if (Model.Orders.Count > 0){
                            foreach (var order in Model.Orders )
                            {                            
                                <tr class="@order.OrderStatus.Name">
                                    <td>@order.CreateDateUtc</td>
                                    <td>@order.OrderDetails.Count</td>
                                    <td>@order.OrderStatus.Name</td>
                                    <td>$@order.OrderTotal</td>
                                    <td><a href="/Account/@order.Guid">Details</a></td>
                                </tr>    
                            }
                             
                        }else{
                         <tr class="success">
                                <td colspan="5">No Orders</td>
                            </tr>  
                        }
                    </table>
                </div>
                @if(User.Identity.IsAuthenticated && ViewBag.AuthenticatedUser != null){
                    WriteCongress.Core.User user = ViewBag.AuthenticatedUser;
                <div class="tab-pane" id="tab2">
                    <div class="row-fluid">
                        <div class="span7">
                            <dl class="dl-horizontal">
                                <dt>Name</dt>
                                <dd>@user.FirstName @user.LastName</dd>
                                <dt>Address 1</dt>
                                <dd>@user.AddressOne</dd>
                                @if (!String.IsNullOrEmpty(user.AddressTwo)){
                                <dt>Address 2</dt>
                                <dd>@user.AddressTwo</dd>
                                }
                                <dt>City</dt>
                                <dd>@user.City</dd>
                                <dt>Zip</dt>
                                <dd>@user.ZipCode</dd>
                                <dt>Newsletter</dt>
                                <dd>@Html.CheckBox("newsletter")</dd>
                            </dl>
                        </div>
                        <div class="span5">
                            <div>
                                <iframe width="325" height="280" frameborder="0" src="http://www.bing.com/maps/embed/viewer.aspx?v=3&cp=45.063981~-93.440125&lvl=11&w=325&h=280&sty=r&typ=d&pp=~~45.069168~-93.438065&ps=&dir=0&mkt=en-us&form=BMEMJS"></iframe>
                            </div>
                        </div>
                    </div>

                </div>
                }
            </div>
        </div>
    </div>
</div>
