@using WriteCongress.Core
@model WriteCongress.Core.Letter

@{
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
    var Issue = (Issue)ViewBag.Issue;
    ViewBag.Title = String.Format("Letter {0} {1} ({2})", Model.Against ? "opposing" : "supporting", Issue.Name, Model.Name);    
}


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
            <h1>@Model.Name</h1>
            <h2><a href="/Issues/@Issue.Slug">@Issue.Name</a></h2>
            <div>
                <p>
                    @Model.Description
                </p>
            </div>
            <div>
                @Model.Body
            </div>
        </div>
        <div class="span4">
            <div class="well letterinfo">
                <h4>Send this letter</h4>
                <hr />
                <h5>Personal Info 
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="javascript:void(0);" class="login-label login-launcher"><span class="label label-info"><i class="icon-signin"></i>Sign In</span></a>
                    }
                </h5>
                <input class="span4 ZipCode" type="text" id="zipcode" maxlength="5" placeholder="Zip Code" /><br />
                <input class="span6" type="text" id="firstname" maxlength="11" placeholder="First Name" />
                <input class="span6" type="text" id="lastname" maxlength="20" placeholder="Last Name" /><br />
                <input class="span12" type="text" id="address1" maxlength="60" placeholder="Address 1" /><br />
                <input class="span12" type="text" id="address2" maxlength="60" placeholder="Address 2" /><br />
                <input class="span6 zipautofill-city" type="text" id="city" maxlength="20" placeholder="City" />
                <select name="state" id="state" class="span6 zipautofill-state" size="1" placeholder="State">
                    <option value="" selected="selected">State</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">Dist of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
                <input class="span12" type="text" id="email" maxlength="55" placeholder="Email" />
                <input class="span8" type="text" id="phonenumber" maxlength="17" placeholder="Phone Number (Optional)" /><br />
                <button id="beInvolved" disabled="disabled" class="btn btn-large btn-primary"><i class="icon-envelope"></i> Be Involved</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_PurchaseLetter")
@Html.Partial("_CreateAccount")

@section scripts{
    @if (User.Identity.IsAuthenticated){
        <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
        <script type="text/javascript" src="/scripts/StripeHelper.js"></script>
        <script type="text/javascript">
            Stripe.setPublishableKey('pk_test_nOvbLL4UrnJeKav4whH3rJO7');
        </script>
        <script type="text/javascript" src="/scripts/IssueLetterAuthenticated.js"></script>
    }
    else{<script type="text/javascript" src="/scripts/IssueLetterNonAuthenticated.js"></script>}
}