@using WriteCongress.Core
@model WriteCongress.Core.Issue

@{
    ViewBag.Title = "Issue";
}
<div class="wrapper" id="content">
    <div class="container">
        <div class="posts-wrap" id="page">
            <h2 class="post_title">@Model.Name</h2>
            <div>
                <p>
                    @Model.Description
                </p>
            </div>
            <div>
                <a class="button buttonleft" href="#">​In Favor​</a>​
                <a class="button buttonleft button_red" href="#">​Opposed​</a>​
            </div>
            <div class="clear"></div>
            
            @{
                var issueLetters = (List<Letter>) ViewBag.Letters;
                var lettersYay = issueLetters.Where(i => i.Against == true).ToList();
                var lettersNay = issueLetters.Where(i => i.Against == false).ToList();
            }
            
            <h2>For</h2>
            <ul>
                @foreach (var letter in lettersYay) {
                    <li>@letter.Name</li>   
                }
            </ul>
            
            <h2>Against</h2>
            <ul>
                @foreach (var letter in lettersNay) {
                     <li>@letter.Name</li>   
                    }
            </ul>
            
        </div>
        @Html.Partial("_SideBar")
    </div>
</div>