@using WriteCongress.Core
@model WriteCongress.Core.Letter

@{
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
    var Issue = (Issue)ViewBag.Issue;
    ViewBag.Title = String.Format("Letter {0} {1} ({2})", Model.Against ? "opposing" : "supporting", Issue.Name, Model.Name);    
}


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
            <h1>@Model.Name</h1>
            <h2><a href="/Issues/@Issue.Slug">@Issue.Name</a></h2>
            <div>
                <p>
                    @Model.Description
                </p>
            </div>
            <div>
                @Model.Body
            </div>
        </div>
        <div class="span4">
            <div class="well letterinfo">
                <h4>Send this letter</h4>
                <hr />
                <h5>Personal Info 
                    @if (!User.Identity.IsAuthenticated) {
                        <a href="javascript:void(0);" class="login-label"><span class="label label-info"><i class="icon-signin"></i> Login</span></a>
                    }
                </h5>
                <input class="span4 ZipCode" type="text" id="zipcode" maxlength="5" placeholder="Zip Code" /><br />
                <input class="span6" type="text" id="firstname" maxlength="11" placeholder="First Name" />
                <input class="span6" type="text" id="lastname" maxlength="20" placeholder="Last Name" /><br />
                <input class="span12" type="text" id="address1" maxlength="60" placeholder="Address 1" /><br />
                <input class="span12" type="text" id="address2" maxlength="60" placeholder="Address 2" /><br />
                <input class="span6" type="text" id="city" maxlength="20" placeholder="City" />
                <select name="state" id="state" class="span6" size="1" placeholder="State">
                    <option value="" selected="selected">State</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">Dist of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
                <input class="span12" type="text" id="email" maxlength="55" placeholder="Email" />
                <input class="span8" type="text" id="phonenumber" maxlength="17" placeholder="Phone Number (Optional)" /><br />
                @*<button class="btn btn-small">Email this</button>*@
                <button id="beInvolved" disabled="disabled" class="btn btn-large btn-primary"><i class="icon-envelope"></i> Be Involved</button>
            </div>
        </div>
    </div>
</div>
<div id="purchaseLetter" class="modal hide" style="width:750px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2><i style="color:#468847" class="icon-lock"></i> Secure Checkout</h2>
    </div>
    <div class="modal-body">
        <div class="pull-left">
            <h4>Card Details</h4>
            <form action="" method="POST" id="payment-form" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">
                        <span>Name on Card</span>
                    </label>
                    <div class="controls">
                        <input type="text" id="card-name" maxlength="30" autocomplete="off"/>
                        <i class="icon-info-sign error hidden"></i>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        <span>Billing Zip</span>
                    </label>
                    <div class="controls">
                        <input type="text" id="card-zip" autocomplete="off" class="numeric" style="width: 70px" maxlength="5" />
                        <i class="icon-info-sign error hidden"></i>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        <span>Card Number</span>
                    </label>
                    <div class="controls">
                        <input type="text" id="card-number" maxlength="20" autocomplete="off" class="numeric" />
                        <i class="icon-info-sign hidden error"></i>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">
                        <span>CVC</span>
                    </label>

                    <div class="controls">
                        <input type="text" id="card-cvc" maxlength="4" size="4" autocomplete="off" class="span1" />
                        <i class="icon-info-sign hidden error"></i>
                    </div>

                </div>

                <div class="control-group">
                    <label class="control-label">
                        <span>Expiration</span>
                    </label>
                    <div class="controls">
                        <select id="card-expiry-month" style="width: 95px">
                            <option value="01">01 - Jan</option>
                            <option value="02">02 - Feb</option>
                            <option value="03">03 - Mar</option>
                            <option value="04">04 - Apr</option>
                            <option value="05">05 - May</option>
                            <option value="06">06 - Jun</option>
                            <option value="07">07 - Jul</option>
                            <option value="08">08 - Aug</option>
                            <option value="09">09 - Sep</option>
                            <option value="10">10 - Oct</option>
                            <option value="11">11 - Nov</option>
                            <option value="12">12 - Dec</option>
                        </select>
                        /  
                        <select id="card-expiry-year" style="width: 90px">
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                        </select>
                        <i class="icon-info-sign error hidden"></i>
                    </div><br />
                    <span id="payment-errors" class="alert alert-danger" style="display:none"></span>
                </div>
            </form>
        </div>
        <div class="pull-right">
                <h4>Letters to Send:</h4>
            <div class="well">
                <div class="control-group">
                <label class="control-label">Send To:</label>
                <div class="controls">
                    <label class="checkbox"><input class="recipientSelector" type="checkbox" value="tos">
                                            <img src="https://d1f0ywl7f2vxwh.cloudfront.net/r-a7c83f6/images/photos/thumbs_50/300076-50px.jpeg?1329296647" />Senator Patty Murray</label>
                    <label class="checkbox"><img src="https://d1f0ywl7f2vxwh.cloudfront.net/r-a7c83f6/images/photos/thumbs_50/300018-50px.jpeg?1329297085" /><input class="recipientSelector" type="checkbox" value="tos">Senator Maria Cantwell</label>
                    <label class="checkbox"><img src="https://d1f0ywl7f2vxwh.cloudfront.net/r-a7c83f6/images/photos/thumbs_50/400262-50px.jpeg?1329296773" /><input class="recipientSelector" type="checkbox" value="tos">Rep Jim McDermott</label>
                </div>
            </div>
                <span id="chargedToday" class="alert alert-info">Total $<span id="totalCharge"></span></span>
            </div>
            </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" id="createAccountSendLetter" class="btn btn-primary">Checkout</a>
    </div>
</div>

<div id="createAccount" class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Create an Account</h3>
        <h6>You're almost there</h6>
    </div>

    <div class="modal-body">
        <form id="createAccountAndRedirect" method="post" action="/Authentication/CreateAccount" class="form-horizontal">
            <input type="hidden" id="signup-redirect" name="redirect" value="@Request.Url#sendletter" />
            <input type="hidden" id="signup-firstname" name="firstname" />
            <input type="hidden" id="signup-lastname" name="lastname" />
            <input type="hidden" id="signup-address1" name="address1" />
            <input type="hidden" id="signup-address2" name="address2" />
            <input type="hidden" id="signup-city" name="city" />
            <input type="hidden" id="signup-state" name="state" />
            <input type="hidden" id="signup-zipcode" name="zipcode" />
            <input type="hidden" id="signup-phonenumber" name="phonenumber" />
            <div class="control-group">
                <label class="control-label">Email</label>
                <div class="controls">
                    <input id="signup-email" type="text" name="email" placeholder="Email">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Password</label>
                <div class="controls">
                    <input id="signup-password" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Password Confirm</label>
                <div class="controls">
                    <input id="signup-passwordconfirm" type="password" placeholder="Confirm your password">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">I agree:</label>
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" value="tos">
                        Terms of Service
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" value="newsletter">"Monitoring Democracy" Email Newsletter
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" id="createAccountSendLetter" class="btn btn-primary">Signup & Send My Letters</a>
    </div>

</div>
@section scripts{
    @if (User.Identity.IsAuthenticated) {
        <script type="text/javascript">
            $(function() {
                $.post('/Authentication/GetLetterPrefill', function(user) {
                    if (user !== null) {
                        $('#email').val(user.Email);
                        $('#firstname').val(user.FirstName);
                        $('#lastname').val(user.LastName);
                        $('#address1').val(user.AddressOne);
                        $('#address2').val(user.AddressTwo);
                        $('#city').val(user.City);
                        $('#state').val(user.State);
                        $('#zipcode').val(user.ZipCode);
                        $('#phonenumber').val(user.PhoneNumber);

                        $('#beInvolved').removeAttr('disabled');
                    }

                    if (window.location.hash === "#sendletter") {
                        $('#purchaseLetter').modal();
                    }
                });
                
                $('#beInvolved').on('click', function () {
                    $('#card-name').val($('#firstname').val() + ' ' + $('#lastname').val());
                    $('#card-zip').val($('#zipcode').val());
                    CalculateAndDisplayPrice();
                    $('#purchaseLetter').modal();
                });

                $('.recipientSelector').click(function() {
                    CalculateAndDisplayPrice();
                });
            });
            
            function CalculateAndDisplayPrice() {
                var recipients = $('.recipientSelector:checked').length;
                var price = 1.99;
                if (recipients > 1) {
                    price += (recipients - 1) * 1.49;
                }
                if (recipients == 0) {
                    price = 0;
                }
                $('#totalCharge').html(price.toFixed(2));
            }
        </script>
    }
    else {
        <script type="text/javascript">
            $(function() {
                $('#beInvolved').on('click', function() {
                    //TODO: validate;

                    $('#signup-email').val($('#email').val());
                    $('#signup-firstname').val($('#firstname').val());
                    $('#signup-lastname').val($('#lastname').val());
                    $('#signup-address1').val($('#address1').val());
                    $('#signup-address2').val($('#address2').val());
                    $('#signup-city').val($('#city').val());
                    $('#signup-state').val($('#state').val());
                    $('#signup-zipcode').val($('#zipcode').val());
                    $('#signup-phonenumber').val($('#phonenumber').val());

                    $('#createAccount').modal();
                });

                $('#createAccountSendLetter').on('click', function() {
                    $('#createAccountAndRedirect').submit();
                });
            });
        </script>
    }
}
