@using WriteCongress.Core
@model WriteCongress.Core.Letter

@{
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
    var Issue = (Issue)ViewBag.Issue;
    ViewBag.Title = String.Format("Letter {0} {1} ({2})", Model.Against ? "opposing" : "supporting", Issue.Name, Model.Name);    
}


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
            <h1>@Model.Name</h1>
            <h2><a href="/Issues/@Issue.Slug">@Issue.Name</a></h2>
            <div>
                <p>
                    @Model.Description
                </p>
            </div>
            <div>
                @Model.Body
            </div>
        </div>
        <div class="span4">
            <div class="well letterinfo">
                <h4>Send this letter</h4>
                <hr />
                <h5>Personal Info 
                    @if (!User.Identity.IsAuthenticated) {
                        <a href="javascript:void(0);" class="login-label"><span class="label label-info"><i class="icon-lock"></i>Login</span></a>
                    }
                    @*<div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1"></div>*@
                </h5>
                <input class="span4 ZipCode" type="text" id="zipcode" maxlength="5" placeholder="Zip Code" /><br />
                <input class="span6" type="text" id="firstname" maxlength="11" placeholder="First Name" />
                <input class="span6" type="text" id="lastname" maxlength="20" placeholder="Last Name" /><br />
                <input class="span12" type="text" id="address1" maxlength="60" placeholder="Address 1" /><br />
                <input class="span12" type="text" id="address2" maxlength="60" placeholder="Address 2" /><br />
                <input class="span6" type="text" id="city" maxlength="20" placeholder="City" />
                <select name="state" id="state" class="span6" size="1" placeholder="State">
                    <option value="" selected="selected">State</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="DC">Dist of Columbia</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
                <input class="span12" type="text" id="email" maxlength="55" placeholder="Email" />
                <input class="span8" type="text" id="phonenumber" maxlength="17" placeholder="Phone Number (Optional)" /><br />
                @*<button class="btn btn-small">Email this</button>*@
                <a id="beInvolved" href="javascript:void(0);" class="btn btn-large btn-primary"><i class="icon-envelope"></i> Be Involved</a>
            </div>
        </div>
    </div>
</div>
<div id="purchaseLetter" class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Create an Account</h3>
        <h6>You're almost there</h6>
    </div>
    <div class="modal-body">
        Credit Card/Purchase Details Here
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" id="createAccountSendLetter" class="btn btn-primary">Checkout</a>
    </div>
</div>
<div id="createAccount" class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Create an Account</h3>
        <h6>You're almost there</h6>
    </div>

    <div class="modal-body">
        <form id="createAccountAndRedirect" method="post" action="/Authentication/CreateAccount" class="form-horizontal">
            <input type="hidden" id="signup-redirect" name="redirect" value="@Request.Url#sendletter" />
            <input type="hidden" id="signup-firstname" name="firstname" />
            <input type="hidden" id="signup-lastname" name="lastname" />
            <input type="hidden" id="signup-address1" name="address1" />
            <input type="hidden" id="signup-address2" name="address2" />
            <input type="hidden" id="signup-city" name="city" />
            <input type="hidden" id="signup-state" name="state" />
            <input type="hidden" id="signup-zipcode" name="zipcode" />
            <input type="hidden" id="signup-phonenumber" name="phonenumber" />
            <div class="control-group">
                <label class="control-label">Email</label>
                <div class="controls">
                    <input id="signup-email" type="text" name="email" placeholder="Email">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Password</label>
                <div class="controls">
                    <input id="signup-password" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Password Confirm</label>
                <div class="controls">
                    <input id="signup-passwordconfirm" type="password" placeholder="Confirm your password">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">I agree:</label>
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" value="tos">
                        Terms of Service
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" value="newsletter">"Monitoring Democracy" Email Newsletter
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" id="createAccountSendLetter" class="btn btn-primary">Signup & Send My Letters</a>
    </div>

</div>
@section scripts{
    @if (User.Identity.IsAuthenticated) {
        <script type="text/javascript">
            $(function() {
                $.post('/Authentication/GetLetterPrefill', function(user) {
                    if (user !== null) {
                        $('#email').val(user.Email);
                        $('#firstname').val(user.FirstName);
                        $('#lastname').val(user.LastName);
                        $('#address1').val(user.AddressOne);
                        $('#address2').val(user.AddressTwo);
                        $('#city').val(user.City);
                        $('#state').val(user.State);
                        $('#zipcode').val(user.ZipCode);
                        $('#phonenumber').val(user.PhoneNumber);
                    }

                    if (window.location.hash === "#sendletter") {
                        $('#purchaseLetter').modal();
                    }
                });
                
                $('#beInvolved').on('click', function () {
                    $('#purchaseLetter').modal();
                });

            });
        </script>
    }
    else {
        <script type="text/javascript">
            $(function() {
                $('#beInvolved').on('click', function() {
                    //TODO: validate;

                    $('#signup-email').val($('#email').val());
                    $('#signup-firstname').val($('#firstname').val());
                    $('#signup-lastname').val($('#lastname').val());
                    $('#signup-address1').val($('#address1').val());
                    $('#signup-address2').val($('#address2').val());
                    $('#signup-city').val($('#city').val());
                    $('#signup-state').val($('#state').val());
                    $('#signup-zipcode').val($('#zipcode').val());
                    $('#signup-phonenumber').val($('#phonenumber').val());

                    $('#createAccount').modal();
                });

                $('#createAccountSendLetter').on('click', function() {
                    $('#createAccountAndRedirect').submit();
                });
            });
        </script>
    }
}
